@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);


* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: Poppins;
    line-height: 1.80857;
    font-weight: normal;
    background-color: antiquewhite;
    overflow-x: hidden;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,h2,h3,h4,h5,h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

img {
    max-width: 100%;
    height: auto;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.navbar-form input {
    border: none !important;
}

.button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.layoutPadding {
    padding-top: 50px;
    padding-bottom: 0px;
}

.headerSection {
    width: 100%;
    float: left;
    height: auto;
    background-size: 100%;
    padding: 10px 0px 25px 0px;
    background-repeat: no-repeat;
}

.logo {
    width: 42%;
    float: left;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    color: #272a2a;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #956041;
}

.navbar {
    padding: .5rem 70px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #956041;
}

.bannerSection {
    width: 100%;
    float: left;
    padding-bottom: 105px;
}

.bannerTitle {
    width: 100%;
    float: left;
    font-size: 60px;
    color: #956041;
    font-weight: bold;
    padding-top: 120px;
}

.bookPresentation {
    width: 98%;
    float: left;
    padding-bottom: 60px;
}

.bookPresentationTitle {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #252525;
    font-weight: bold;
}

.bookPresentationText {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #252525;
    margin: 0px;
}

.buttonLibrary {
    width: 180px;
    float: left;
    margin-top: 100px;
}

.buttonLibrary a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #956041;
    padding: 7px 0px;
    text-align: center;
}

.buttonLibrary a:hover {
    background-color: #252525;
}

.bookInfoSection {
    width: 100%;
    float: left;
}

.bookInfoCard {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
    border-radius: 15px;
    padding: 40px;
}

.bookInfoCard:hover, .bookInfoCard.active {
    background-color: #956041;
}

.bookInfoIcon {
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 20px;
    line-height: 95px;
}

.bookInfoIcon img{
    max-width: 40%;
}

.bookInfoText {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    display: block;
    color: #fff;
    line-height: 30px;
}
